@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    margin: 0;
    height: 100vh;
    background: url('../images/background.jpg') no-repeat center center / cover;
    overflow: hidden;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
    font-family: 'Raleway';
    font-size: 18px;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: rgb(122, 122, 122);
}
  
.active {
    background-color: orange;
}

.gn{
    margin-top: 25%;
    margin-left: 20%;
    font-family: 'Raleway';
    font-size: 27px;
    font-weight: 700;
    color: black;
}


