@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
    font-family: 'Raleway';
    font-size: 18px;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: rgb(122, 122, 122);
}
  
.active {
    background-color: orange;
}