@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Dokdo');

body{
    height: 100vh;
    background: url('background.jpg') no-repeat center center / cover;
    overflow: hidden;
}

.gn{
    position: absolute;
    font-family: 'Raleway';
    font-size: 27px;
    padding: 8cm 1cm
}

#greet{
    color: black;
    font-weight: 700;
    
}
